terratowns_endpoint="https://terratowns.cloud/api"
medievil = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/medievil"
  content_version = 4 
}
hiking = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/hiking"
  content_version = 2 

}